.row
	.col.s12
		ul.tabs
			li.tab.col.s3
				a.active(href='#tab1') Breaking News
			li.tab.col.s3
				a(href='#tab2') Business
	#tab1.col.s12
		div#divRss1
		//- ul.po_re_container

		//- 	li.widget-post-wrapper
		//- 		.widget-post-thumb
		//- 			span.had-thumb
		//- 				a(href='/iphone-5-reviews/', title='Permalink to Post Review Point', rel='bookmark')
		//- 					img(alt='', src='/img/4509555248_d21d2f49d9_b-50x50.jpg')
		//- 		.widget-post-content
		//- 			h6.widget-post-title
		//- 				a(href='/iphone-5-reviews/', title='Post Review Point') Post Review Point
		//- 			.widget-post-meta
		//- 				span.date
		//- 					i(class="fa fa-calendar" aria-hidden="true")
		//- 					|	Jan 26, 2013
		//- 	li.widget-post-wrapper
		//- 		.widget-post-thumb
		//- 			span.had-thumb
		//- 				a(href='/macbook-pro-review/', title='Permalink to Macbook Pro Review', rel='bookmark')
		//- 					img(alt='', src='/img/4509555248_d21d2f49d9_b-50x50.jpg')
		//- 		.widget-post-content
		//- 			h6.widget-post-title
		//- 				a(href='/macbook-pro-review/', title='Macbook Pro Review') Macbook Pro Review
		//- 			.widget-post-meta
		//- 				span.date
		//- 					i(class="fa fa-calendar" aria-hidden="true")
		//- 					| Feb 21, 2013
		//- 	li.widget-post-wrapper
		//- 		.widget-post-thumb
		//- 			span.had-thumb
		//- 				a(href='/sed-posuere-consectetur-est-2/', title='Permalink to Sed posuere consectetur est', rel='bookmark')
		//- 					img(alt='', src='/img/3472576304_5457d43eb3_b-50x50.jpg')
		//- 		.widget-post-content
		//- 			h6.widget-post-title
		//- 				a(href='/sed-posuere-consectetur-est-2/', title='Sed posuere consectetur est') Sed posuere consectetur est
		//- 			.widget-post-meta
		//- 				span.date
		//- 					i(class="fa fa-calendar" aria-hidden="true")
		//- 					| Jan 26, 2013
		//- 	li.widget-post-wrapper
		//- 		.widget-post-thumb
		//- 			span.had-thumb
		//- 				a(href='/consectetur-adipiscing-elit/', title='Permalink to Consectetur adipiscing elit', rel='bookmark')
		//- 					img(alt='', src='/img/6176223502_4a66bd27e1_b-50x50.jpg')
		//- 		.widget-post-content
		//- 			h6.widget-post-title
		//- 				a(href='/consectetur-adipiscing-elit/', title='Consectetur adipiscing elit') Consectetur adipiscing elit
		//- 			.widget-post-meta
		//- 				span.date
		//- 					i(class="fa fa-calendar" aria-hidden="true")
		//- 					| Jan 26, 2013
		//- 	li.widget-post-wrapper
		//- 		.widget-post-thumb
		//- 			span.had-thumb
		//- 				a(href='/sed-posuere-consectetur-est/', title='Permalink to Sed posuere consectetur est', rel='bookmark')
		//- 					img(alt='', src='/img/2511300928_be5006d6be_b-50x50.jpg')
		//- 		.widget-post-content
		//- 			h6.widget-post-title
		//- 				a(href='/sed-posuere-consectetur-est/', title='Sed posuere consectetur est') Sed posuere consectetur est
		//- 			.widget-post-meta
		//- 				span.date
		//- 					i(class="fa fa-calendar" aria-hidden="true")
		//- 					| Jan 26, 2013 -

	#tab2.col.s12
		div#divRss2
		//- ul.po_re_container
		//- 	li.widget-post-wrapper
		//- 		.widget-post-thumb
		//- 			span.had-thumb
		//- 				a(href='/macbook-pro-review/', title='Permalink to Macbook Pro Review', rel='bookmark')
		//- 					img(alt='', src='/img/4509555248_d21d2f49d9_b-50x50.jpg')
		//- 		.widget-post-content
		//- 			h6.widget-post-title
		//- 				a(href='/macbook-pro-review/', title='Macbook Pro Review') Macbook Pro Review
		//- 			.widget-post-meta
		//- 				span.date
		//- 					i(class="fa fa-calendar" aria-hidden="true")
		//- 					| Feb 21, 2013 -
		//- 	li.widget-post-wrapper
		//- 		.widget-post-thumb
		//- 			span.had-thumb
		//- 				a(href='/movies-cinema-reviews/', title='Permalink to Post Reviews Stars', rel='bookmark')
		//- 					img(alt='', src='/img/4236312528_fba5dc46c8_b-50x50.jpg')
		//- 		.widget-post-content
		//- 			h6.widget-post-title
		//- 				a(href='/movies-cinema-reviews/', title='Post Reviews Stars') Post Reviews Stars
		//- 			.widget-post-meta
		//- 				span.date
		//- 					i(class="fa fa-calendar" aria-hidden="true")
		//- 					| Jan 26, 2013
		//- 	li.widget-post-wrapper
		//- 		.widget-post-thumb
		//- 			span.video-thumb(video='vimeo', video-id='18577224')
		//- 				img(src='/img/116984109_100x75.jpg', alt='')
		//- 		.widget-post-content
		//- 			h6.widget-post-title
		//- 				a(href='/ipad-4-reviews/', title='Post Review Percent') Post Review Percent
		//- 			.widget-post-meta
		//- 				span.date
		//- 					i(class="fa fa-calendar" aria-hidden="true")
		//- 					| Jan 26, 2013
		//- 	li.widget-post-wrapper
		//- 		.widget-post-thumb
		//- 			span.had-thumb
		//- 				a(href='/iphone-5-reviews/', title='Permalink to Post Review Point', rel='bookmark')
		//- 					img(alt='', src='/img/8074153803_e91a56a3d0_b-50x50.jpg')
		//- 		.widget-post-content
		//- 			h6.widget-post-title
		//- 				a(href='/iphone-5-reviews/', title='Post Review Point') Post Review Point
		//- 			.widget-post-meta
		//- 				span.date
		//- 					i(class="fa fa-calendar" aria-hidden="true")
		//- 					| Jan 26, 2013
		//- 	li.widget-post-wrapper
		//- 		.widget-post-thumb
		//- 			span.had-thumb
		//- 				a(href='/sed-posuere-consectetur-est-2/', title='Permalink to Sed posuere consectetur est', rel='bookmark')
		//- 					img(alt='', src='/img/8099859896_7026387209_b-50x50.jpg')
		//- 		.widget-post-content
		//- 			h6.widget-post-title
		//- 				a(href='/sed-posuere-consectetur-est-2/', title='Sed posuere consectetur est') Sed posuere consectetur est
		//- 			.widget-post-meta
		//- 				span.date
		//- 					i(class="fa fa-calendar" aria-hidden="true")
		//- 					| Jan 26, 2013


.row
	#subscribe.col.s12.m12.l12
		form(class="subcriptionform", style='', action='#', method='post')
			input(class="emailadd", type='text', value='Your email Address...', onblur="if (this.value == '') {this.value = 'Your email Address...';}", onfocus="if (this.value == 'Your email Address...') {this.value = '';}", name='email')
			input(type='hidden', value='', name='uri')
			input(type='hidden', name='loc', value='en_US')
			input(class="submit", type='submit', value='SUBSCRIBE')

.row
	.col.s12.m12.l12
		a(href='./Magazon WordPress Theme – Just another WordPress site_files/saved_resource')
											img(alt='', src='../img/300.jpg')

.row
	.col.l2.title-head
		h5.title Tags
	#tag.col.l12
		.tagcloud
			a.tag-link-301.tag-link-position-1(href='http://demo.mythemeshop.com/emerald/tag/facebook/', title='1 topic') Facebook
			a.tag-link-302.tag-link-position-2(href='http://demo.mythemeshop.com/emerald/tag/featured/', title='1 topic') featured
			a.tag-link-95.tag-link-position-3(href='http://demo.mythemeshop.com/emerald/tag/social-media-2/', title='1 topic') Social media
			a.tag-link-96.tag-link-position-4(href='http://demo.mythemeshop.com/emerald/tag/tag-1/', title='5 topics') Tag 1
			a.tag-link-97.tag-link-position-5(href='http://demo.mythemeshop.com/emerald/tag/tag-2/', title='4 topics') Tag 2
			a.tag-link-98.tag-link-position-6(href='http://demo.mythemeshop.com/emerald/tag/tag-3/', title='3 topics') Tag 3

//- .row
//- 	.col.s12.m12.l12
//- 		section.calendar
//- 			.custom-calendar-wrap
//- 				#custom-inner.custom-inner
//- 					.custom-header.clearfix
//- 						nav
//- 							span#custom-prev.custom-prev
//- 							span#custom-next.custom-next
//- 						h2#custom-month.custom-month
//- 						h3#custom-year.custom-year
//- 					#calendar.fc-calendar-container

.row
	.col.s12.m12.l12
		section#calendar
			.calendar.hidden-print
				header
					h2.month
					a.btn-prev.fa.fa-angle-left(href='javascript:void(0)')
					a.btn-next.fa.fa-angle-right(href='javascript:void(0)')

				table
					thead.event-days
						tr
					tbody.event-calendar
						tr.1
						tr.2
						tr.3
						tr.4
						tr.5
					.list
						.day-event
							a.close.fa.fa-times(href='javascript:void(0)')
							h2.title Lorem ipsum 1
							p
								| Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok.
							//- label.check-btn
							//- 	input#save.save(type='checkbox', name='', value='')
							//- 	span Save to personal list!




