extends layout

block content
	.row
		.col.s12.m12.l12
			h1.title-header About
			p Clean urls are only used for .html files. Useful for sites like blogs that are generated from static site generators such as Jekyll.