extends layout

block content
	.row
		.col.s12.m12.l12
			h1.title-header Services

			p I love and use both JSON and Markdown in my projects. Each npm package requires a package.json file which is obviously written in JSON format. Also, good projects have good documentation. My favorite language for writing docs is Markdown.